<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
	<servlet>
		<servlet-name>all</servlet-name>
		<jsp-file>/all.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>all</servlet-name>
		<url-pattern>/all</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>index1</servlet-name>
		<jsp-file>/index1.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>index1</servlet-name>
		<url-pattern>/index1</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>showSmppByCompanyNametesync</servlet-name>
		<jsp-file>/showSmppByCompanyNametesync.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>showSmppByCompanyNametesync</servlet-name>
		<url-pattern>/showSmppByCompanyNametesync</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>panel</servlet-name>
		<jsp-file>/panel.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>panel</servlet-name>
		<url-pattern>/panel</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>spanel</servlet-name>
		<jsp-file>/spanel.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>spanel</servlet-name>
		<url-pattern>/spanel</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>tesynnc</servlet-name>
		<jsp-file>/tesynnc.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>tesynnc</servlet-name>
		<url-pattern>/tesynnc</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>smppLogin.jsp</welcome-file>
	</welcome-file-list>
	<error-page>
		<error-code>500</error-code>
		<location>/smppLogin.jsp</location>
	</error-page>

</web-app>
